Repository cdklabs/cdk-validator-cfnguard, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cdklabs/aws-cdk-team, @cdklabs/cdk-validator-cfnguard, @cdklabs-automation

chore(deps): upgrade dependencies
  package.json
  yarn.lock
Owners: @cdklabs/aws-cdk-team, @cdklabs-automation

chore(deps): upgrade dependencies (#62)
  package.json
  yarn.lock
Owners: @cdklabs/aws-cdk-team, @cdklabs-automation

chore(deps): upgrade dependencies
  package.json
  yarn.lock
Owners: @cdklabs/aws-cdk-team, @cdklabs-automation

chore: self mutation
  API.md
Owners: @cdklabs/aws-cdk-team

chore(deps): upgrade dependencies (#63)
  API.md
  package.json
  yarn.lock
Owners: @cdklabs/aws-cdk-team, @cdklabs-automation

chore(deps): upgrade dependencies
  package.json
  yarn.lock
Owners: @cdklabs/aws-cdk-team, @cdklabs-automation

chore(deps): upgrade dependencies (#65)
  package.json
  yarn.lock
Owners: @cdklabs/aws-cdk-team, @cdklabs-automation

Update tests to use new cfn-guard/metadata directory structure.
  src/plugin.ts
  test/plugin.integ.test.ts
  test/plugin.test.ts
  test/rules/control-tower/ec2/ct-ec2-pr-5.test.ts
  test/rules/control-tower/ec2/ct-ec2-pr-7.test.ts
  test/rules/control-tower/iam/ct-iam-pr-2.test.ts
  test/rules/control-tower/rds/ct-rds-pr-16.test.ts
  test/rules/control-tower/s3/ct-s3-pr-1.test.ts
  test/rules/control-tower/s3/ct-s3-pr-2.test.ts
  test/rules/control-tower/s3/ct-s3-pr-7.test.ts
  test/rules/control-tower/s3/ct-s3-pr-8.test.ts
Owners: @cdklabs/aws-cdk-team

Add console log mocking back in for integ tests.
  test/plugin.integ.test.ts
Owners: @cdklabs/aws-cdk-team

Add a test checking that each guard rule has a metadata file and visa versa.
  .projen/deps.json
  .projen/tasks.json
  .projenrc.ts
  rules/control-tower/metadata/identityandaccessmanagement/ct-iam-pr-2.metadata.json
  test/rules/control-tower/metadata.test.ts
Owners: @cdklabs/aws-cdk-team, @cdklabs/cdk-validator-cfnguard

Run projen.
  .projen/deps.json
  .projen/tasks.json
  package.json
  yarn.lock
Owners: @cdklabs/aws-cdk-team, @cdklabs-automation

chore: self mutation
  package.json
Owners: @cdklabs/aws-cdk-team, @cdklabs-automation

feat(docs): Add remaining CT controls to README.
  README.md
Owners: @cdklabs/aws-cdk-team

Remove CLOUDTRAIL.PR.2 from README table.
  README.md
Owners: @cdklabs/aws-cdk-team

chore: self mutation
  API.md
Owners: @cdklabs/aws-cdk-team

feat(docs): Add remaining Control Tower rules to README table. (#64)
  API.md
  README.md
Owners: @cdklabs/aws-cdk-team

chore(deps): upgrade dependencies
  .gitattributes
  .github/workflows/build.yml
  .gitignore
  .projen/files.json
  package.json
  yarn.lock
Owners: @cdklabs/aws-cdk-team, @cdklabs-automation

chore(deps): upgrade dependencies (#66)
  .gitattributes
  .github/workflows/build.yml
  .gitignore
  .projen/files.json
  package.json
  yarn.lock
Owners: @cdklabs/aws-cdk-team, @cdklabs-automation

chore(deps): upgrade dependencies
  package.json
  yarn.lock
Owners: @cdklabs/aws-cdk-team, @cdklabs-automation

chore(deps): upgrade dependencies (#69)
  package.json
  yarn.lock
Owners: @cdklabs/aws-cdk-team, @cdklabs-automation

Updating the Bundled Control Tower Rules table to include all rules with evaluated resource types
  README.md
Owners: @cdklabs/aws-cdk-team

chore: self mutation
  API.md
Owners: @cdklabs/aws-cdk-team

Updating Bundled Control Tower Rules table to be the same as the README table
  API.md
Owners: @cdklabs/aws-cdk-team

chore: self mutation
  API.md
Owners: @cdklabs/aws-cdk-team

feat(docs): Updating CT rule table (#70)
  API.md
  README.md
Owners: @cdklabs/aws-cdk-team

chore(deps): upgrade dependencies
  package.json
  yarn.lock
Owners: @cdklabs/aws-cdk-team, @cdklabs-automation

chore(deps): upgrade dependencies (#71)
  package.json
  yarn.lock
Owners: @cdklabs/aws-cdk-team, @cdklabs-automation

chore(deps): upgrade dependencies
  .gitattributes
  .github/workflows/upgrade-cdklabs-projen-project-types-main.yml
  .gitignore
  .projen/files.json
  .projen/tasks.json
  package.json
  yarn.lock
Owners: @cdklabs/aws-cdk-team, @cdklabs-automation

chore(deps): upgrade dependencies (#72)
  .gitattributes
  .github/workflows/upgrade-cdklabs-projen-project-types-main.yml
  .gitignore
  .projen/files.json
  .projen/tasks.json
  package.json
  yarn.lock
Owners: @cdklabs/aws-cdk-team, @cdklabs-automation

chore(deps): upgrade dependencies
  package.json
  yarn.lock
Owners: @cdklabs/aws-cdk-team, @cdklabs-automation

fix: disjunction checks are not parsed correctly
  package.json
  src/plugin.ts
  test/plugin.test.ts
  test/rules/control-tower/s3/ct-s3-pr-8.test.ts
  test/test-data/guard-disjunction-resolved-check.json
Owners: @cdklabs/aws-cdk-team, @cdklabs-automation

chore(deps): upgrade dependencies (#74)
  package.json
  yarn.lock
Owners: @cdklabs/aws-cdk-team, @cdklabs-automation

chore: self mutation
  package.json
Owners: @cdklabs/aws-cdk-team, @cdklabs-automation

fix: disjunction checks are not parsed correctly (#76)
  src/plugin.ts
  test/plugin.test.ts
  test/rules/control-tower/s3/ct-s3-pr-8.test.ts
  test/test-data/guard-disjunction-resolved-check.json
Owners: @cdklabs/aws-cdk-team

chore(deps): upgrade dependencies
  .github/workflows/auto-approve.yml
  package.json
  yarn.lock
Owners: @cdklabs/aws-cdk-team, @cdklabs-automation

chore(deps): upgrade dependencies (#77)
  .github/workflows/auto-approve.yml
  package.json
  yarn.lock
Owners: @cdklabs/aws-cdk-team, @cdklabs-automation

chore(deps): upgrade dependencies
  .github/workflows/upgrade-cdklabs-projen-project-types-main.yml
  package.json
  yarn.lock
Owners: @cdklabs/aws-cdk-team, @cdklabs-automation

chore(deps): upgrade dependencies (#78)
  .github/workflows/upgrade-cdklabs-projen-project-types-main.yml
  package.json
  yarn.lock
Owners: @cdklabs/aws-cdk-team, @cdklabs-automation

chore(deps): upgrade cdklabs-projen-project-types
  package.json
  yarn.lock
Owners: @cdklabs/aws-cdk-team, @cdklabs-automation

fixup
  yarn.lock
Owners: @cdklabs/aws-cdk-team, @cdklabs-automation

.github/CODEOWNERS:

# global owners
# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence
# @cdklabs/aws-cdk-team will be requested for
# review when someone opens a pull request.
* @cdklabs/aws-cdk-team

# CT team owns the policies
/rules/ @cdklabs/cdk-validator-cfnguard

# allow bot to approve dependency updates
package.json @cdklabs/aws-cdk-team @cdklabs-automation
yarn.lock @cdklabs/aws-cdk-team @cdklabs-automation
